body {
  margin: 0px 10% 0px 10%;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 75px;
  color: #e6a65d;
}
.doctor-summary {
  background-color: #eee;
  margin-bottom: 0;
}
.doctor-picture {
  padding: 10;
  float: left;
}
.doctor-picture img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: auto auto;
  display: block;
}
.paragraph {
  padding: 5px 50px 20px 15px;
  overflow: hidden;
  font-size: 19.5px;
  color: #3d3935;
}
.doctor-name {
  font-weight: bold;
}
.occupation {
  font-style: italic;
}
.radio-btns {
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.radio-btn {
  padding-bottom: 10px;
}
.radio-btns label {
  font-size: 19.5px;
  color: #3d3935;
}
.dog-food-brand-comparison-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.dog-food-brand-comparison-container label {
  font-size: 19px;
  font-weight: bold;
  color: #2a2825;
}
.cat-food-brand-comparison-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  display: none;
  flex-wrap: wrap;
  width: 100%;
}
.cat-food-brand-comparison-container label {
  font-size: 19px;
  font-weight: bold;
  color: #2a2825;
}
select {
  font-size: 1.25rem;
  padding: 10px 30px 10px 10px;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
}
.comparison-container-item {
  flex-grow: 1;
  width: 200px;
  padding: 10px;
  flex: 25%;
}
.main {
  text-align: center;
  color: #a7a8a9;
  display: none;
}
#content {
  color: #3d3935;
  font-size: 18px;
  text-align: center;
}
.food-brand {
  display: flex;
}
.food-flex-container {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 10px;
}
.food-flex-container div {
  padding: 0px;
}
.food-flex-container nomnom-items div {
  justify-content: left;
  text-align: left;
  padding-left: 0px;
}
#food-brand-items {
  border-right: 2px solid #eee;
  padding: 83px 20px 0 0;
  font-size: 19.5px;
  text-align: right;
}
#nomnom-items {
  padding: 20px 0 0 20px;
  font-size: 19.5px;
  text-align: left;
}
#logo-img {
  height: 20px;
  width: auto;
}
#recipe-name {
  color: #e6a65d;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  margin: 0;
}
#brand-img {
  height: 250px;
  width: 165px;
  padding-bottom: 7px;
}
#brand-img2 {
  height: 250px;
  width: auto;
  padding-bottom: 7px;
}
.main label {
  font-size: 19.5px;
}
.main h2 {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
#protein-amount2 {
  color: #fe5000;
}
#fat-amount2 {
  color: #e782a9;
}
#carb-amount2 {
  color: #e1cd00;
}
.flex-container {
  display: flex;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
  width: 100%;
}
.flex-item {
  border-right: 1px solid #eee;
  padding: 0 20px 20px;
  font-size: 19.5px;
  text-align: left;
  flex: 25%;
}
#btn-h2 {
  color: #69b3e7;
}
.btn {
  justify-content: center;
  display: flex;
  padding-bottom: 15px;
}
.startBtn {
  padding: 10px 20px;
  font-size: 20px;
  background: #ee2737;
  border-radius: 4px;
  border-width: 0px;
  color: #fff;
}
.startBtn:hover {
  letter-spacing: 2px;
  background: #ffbe31;
  cursor: pointer;
}
@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }
  .doctor-picture {
    float: none;
  }
  .radio-btn {
    flex: 100%;
  }
  .comparison-container-item {
    flex: 100%;
  }
  .flex-item {
    flex: 100%;
    border-bottom: 1px solid #eee;
    border-right: 0px;
  }
}